################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BusinessAccessLayer/obj/Debug/net6.0/BusinessAccessLayer.GeneratedMSBuildEditorConfig.editorconfig
/DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.GeneratedMSBuildEditorConfig.editorconfig
/ECommerceShopping/.vs/ECommerceShopping/FileContentIndex/0aab5d2d-42dd-4a12-99e5-3d49f8b17d7d.vsidx
/IOCContainer/obj/Debug/net6.0/IOCContainer.GeneratedMSBuildEditorConfig.editorconfig
/BusinessAccessLayer/bin/Debug/net6.0/BusinessAccessLayer.deps.json
/BusinessAccessLayer/bin/Debug/net6.0/BusinessAccessLayer.dll
/BusinessAccessLayer/bin/Debug/net6.0/BusinessAccessLayer.pdb
/BusinessAccessLayer/bin/Debug/net6.0/DataAccessLayer.dll
/BusinessAccessLayer/bin/Debug/net6.0/DataAccessLayer.pdb
/BusinessAccessLayer/obj/Debug/net6.0/refint/BusinessAccessLayer.dll
/BusinessAccessLayer/obj/Debug/net6.0/BusinessAccessLayer.assets.cache
/BusinessAccessLayer/obj/Debug/net6.0/BusinessAccessLayer.csproj.AssemblyReference.cache
/DataAccessLayer/bin/Debug/net6.0/DataAccessLayer.deps.json
/DataAccessLayer/bin/Debug/net6.0/DataAccessLayer.dll
/DataAccessLayer/bin/Debug/net6.0/DataAccessLayer.pdb
/DataAccessLayer/bin/Debug/net6.0/DataAccessLayer.runtimeconfig.json
/BusinessAccessLayer/obj/project.nuget.cache
/BusinessAccessLayer/obj/project.assets.json
/BusinessAccessLayer/obj/BusinessAccessLayer.csproj.nuget.dgspec.json
/BusinessAccessLayer/obj/Debug/net6.0/BusinessAccessLayer.pdb
/BusinessAccessLayer/obj/BusinessAccessLayer.csproj.nuget.g.props
/BusinessAccessLayer/obj/Debug/net6.0/BusinessAccessLayer.dll
/BusinessAccessLayer/obj/Debug/net6.0/BusinessAccessLayer.csproj.CoreCompileInputs.cache
/BusinessAccessLayer/obj/Debug/net6.0/ref/BusinessAccessLayer.dll
/BusinessAccessLayer/obj/Debug/net6.0/BusinessAccessLayer.csproj.CopyComplete
/DataAccessLayer/obj/Debug/net6.0/ref/DataAccessLayer.dll
/DataAccessLayer/obj/Debug/net6.0/refint/DataAccessLayer.dll
/DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.assets.cache
/DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.csproj.AssemblyReference.cache
/DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.csproj.CoreCompileInputs.cache
/DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.dll
/DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.genruntimeconfig.cache
/DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.pdb
/DataAccessLayer/obj/DataAccessLayer.csproj.nuget.dgspec.json
/DataAccessLayer/obj/DataAccessLayer.csproj.nuget.g.props
/DataAccessLayer/obj/project.assets.json
/DataAccessLayer/obj/project.nuget.cache
/ECommerceShopping/bin/Debug/net6.0/af/Humanizer.resources.dll
/ECommerceShopping/.vs/ECommerceShopping/v17/.suo
/ECommerceShopping/bin/Debug/net6.0/ar/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/az/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/bg/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/bn-BD/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/cs/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/he/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/hu/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/id/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/is/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ko-KR/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ku/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ms-MY/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/lv/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/nb-NO/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/nl/Humanizer.resources.dll
/IOCContainer/bin/Debug/net6.0/IOCContainer.pdb
/IOCContainer/bin/Debug/net6.0/IOCContainer.dll
/IOCContainer/bin/Debug/net6.0/IOCContainer.deps.json
/IOCContainer/bin/Debug/net6.0/DataAccessLayer.pdb
/IOCContainer/bin/Debug/net6.0/DataAccessLayer.dll
/IOCContainer/bin/Debug/net6.0/BusinessAccessLayer.pdb
/IOCContainer/bin/Debug/net6.0/BusinessAccessLayer.dll
/IOCContainer/obj/project.nuget.cache
/IOCContainer/obj/project.assets.json
/IOCContainer/obj/IOCContainer.csproj.nuget.g.props
/IOCContainer/obj/IOCContainer.csproj.nuget.dgspec.json
/IOCContainer/obj/Debug/net6.0/IOCContainer.pdb
/IOCContainer/obj/Debug/net6.0/IOCContainer.dll
/IOCContainer/obj/Debug/net6.0/IOCContainer.csproj.CoreCompileInputs.cache
/IOCContainer/obj/Debug/net6.0/IOCContainer.csproj.AssemblyReference.cache
/IOCContainer/obj/Debug/net6.0/IOCContainer.assets.cache
/ECommerceShopping/obj/Debug/net6.0/ECommerceShopping.GeneratedMSBuildEditorConfig.editorconfig
/ECommerceShopping/obj/Debug/net6.0/ECommerceShopping.csproj.FileListAbsolute.txt
/ECommerceShopping/obj/Debug/net6.0/ECommerceShopping.csproj.CoreCompileInputs.cache
/ECommerceShopping/obj/Debug/net6.0/ECommerceShopping.csproj.AssemblyReference.cache
/ECommerceShopping/obj/Debug/net6.0/ECommerceShopping.assets.cache
/ECommerceShopping/obj/Debug/net6.0/apphost.exe
/ECommerceShopping/obj/Debug/net6.0/ECommerceShopping.MvcApplicationPartsAssemblyInfo.cs
/ECommerceShopping/obj/project.nuget.cache
/ECommerceShopping/obj/project.assets.json
/ECommerceShopping/obj/ECommerceShopping.csproj.nuget.g.props
/ECommerceShopping/obj/ECommerceShopping.csproj.nuget.dgspec.json
/ECommerceShopping/obj/Debug/net6.0/project.razor.vs.json
/ECommerceShopping/obj/Debug/net6.0/refint/ECommerceShopping.dll
/ECommerceShopping/obj/Debug/net6.0/ref/ECommerceShopping.dll
/ECommerceShopping/obj/Debug/net6.0/scopedcss/bundle/ECommerceShopping.styles.css
/ECommerceShopping/obj/Debug/net6.0/scopedcss/projectbundle/ECommerceShopping.bundle.scp.css
/ECommerceShopping/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/ECommerceShopping/bin/Debug/net6.0/vi/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/uz-Latn-UZ/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/uk/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/uz-Cyrl-UZ/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/zh-CN/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/sl/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/sk/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/sr/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/sr-Latn/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/ECommerceShopping/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/ECommerceShopping/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/ECommerceShopping/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/ECommerceShopping/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/ECommerceShopping/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/ECommerceShopping/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/ECommerceShopping/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/ECommerceShopping/bin/Debug/net6.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/ECommerceShopping/bin/Debug/net6.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/ECommerceShopping/bin/Debug/net6.0/ro/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/ECommerceShopping/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/ECommerceShopping/bin/Debug/net6.0/sv/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/pt/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/hr/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/fr-BE/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/fi-FI/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/fa/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/el/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/da/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/hy/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/mt/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/nb/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/th-TH/Humanizer.resources.dll
/BusinessAccessLayer/obj/Debug/net6.0/BusinessAccessLayer.csprojAssemblyReference.cache
*.cache
/ECommerceShopping/.vs/ECommerceShopping/DesignTimeBuild/.dtbcache.v2
*.suo
/ECommerceShopping/.vs/ProjectEvaluation/ecommerceshopping.metadata.v5.2
/ECommerceShopping/.vs/ProjectEvaluation/ecommerceshopping.projects.v5.2
/ECommerceShopping/.vs/ECommerceShopping/v17/.futdcache.v2
/BusinessAccessLayer/obj/Debug/net6.0/BusinessAccessLayer.csproj.FileListAbsolute.txt
/DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.csproj.FileListAbsolute.txt
/ECommerceShopping/.vs/ECommerceShopping/config/applicationhost.config
/ECommerceShopping/.vs/ECommerceShopping/v17/HierarchyCache.v1.txt
/ECommerceShopping/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Scripting.resources.dll
/ECommerceShopping/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.resources.dll
/ECommerceShopping/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/ECommerceShopping/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Scripting.resources.dll
/ECommerceShopping/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.resources.dll
/ECommerceShopping/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/ECommerceShopping/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/de/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Scripting.resources.dll
/ECommerceShopping/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.resources.dll
/ECommerceShopping/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/ECommerceShopping/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/es/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Scripting.resources.dll
/ECommerceShopping/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.resources.dll
/ECommerceShopping/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/ECommerceShopping/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/fr/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Scripting.resources.dll
/ECommerceShopping/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.resources.dll
/ECommerceShopping/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/ECommerceShopping/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/it/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Scripting.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ja/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Scripting.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Scripting.resources.dll
/ECommerceShopping/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.resources.dll
/ECommerceShopping/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/ECommerceShopping/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/pl/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Scripting.resources.dll
/ECommerceShopping/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/ECommerceShopping/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/ECommerceShopping/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Scripting.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/ru/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Scripting.resources.dll
/ECommerceShopping/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.resources.dll
/ECommerceShopping/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/ECommerceShopping/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/tr/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Scripting.resources.dll
/ECommerceShopping/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/ECommerceShopping/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/ECommerceShopping/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/zh-Hant/Humanizer.resources.dll
/ECommerceShopping/bin/Debug/net6.0/System.Windows.Extensions.dll
/ECommerceShopping/bin/Debug/net6.0/System.Web.WebPages.Razor.dll
/ECommerceShopping/bin/Debug/net6.0/System.Web.WebPages.dll
/ECommerceShopping/bin/Debug/net6.0/System.Web.WebPages.Deployment.dll
/ECommerceShopping/bin/Debug/net6.0/System.Web.Razor.dll
/ECommerceShopping/bin/Debug/net6.0/System.Web.Mvc.dll
/ECommerceShopping/bin/Debug/net6.0/System.Web.Helpers.dll
/ECommerceShopping/bin/Debug/net6.0/System.Security.Permissions.dll
/ECommerceShopping/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
/ECommerceShopping/bin/Debug/net6.0/System.Runtime.Caching.dll
/ECommerceShopping/bin/Debug/net6.0/System.Reflection.MetadataLoadContext.dll
/ECommerceShopping/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
/ECommerceShopping/bin/Debug/net6.0/System.Drawing.Common.dll
/ECommerceShopping/bin/Debug/net6.0/System.Diagnostics.DiagnosticSource.dll
/ECommerceShopping/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
/ECommerceShopping/bin/Debug/net6.0/System.Composition.TypedParts.dll
/ECommerceShopping/bin/Debug/net6.0/System.Composition.Runtime.dll
/ECommerceShopping/bin/Debug/net6.0/System.Composition.Hosting.dll
/ECommerceShopping/bin/Debug/net6.0/System.Composition.Convention.dll
/ECommerceShopping/bin/Debug/net6.0/System.Composition.AttributedModel.dll
/ECommerceShopping/bin/Debug/net6.0/NuGet.Versioning.dll
/ECommerceShopping/bin/Debug/net6.0/NuGet.Protocol.dll
/ECommerceShopping/bin/Debug/net6.0/NuGet.ProjectModel.dll
/ECommerceShopping/bin/Debug/net6.0/NuGet.Packaging.dll
/ECommerceShopping/bin/Debug/net6.0/NuGet.LibraryModel.dll
/ECommerceShopping/bin/Debug/net6.0/NuGet.Frameworks.dll
/ECommerceShopping/bin/Debug/net6.0/NuGet.DependencyResolver.Core.dll
/ECommerceShopping/bin/Debug/net6.0/NuGet.Configuration.dll
/ECommerceShopping/bin/Debug/net6.0/NuGet.Common.dll
/ECommerceShopping/bin/Debug/net6.0/Newtonsoft.Json.dll
/ECommerceShopping/bin/Debug/net6.0/Newtonsoft.Json.Bson.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.Web.Infrastructure.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.VisualStudio.Debugger.Contracts.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.NET.StringTools.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.Identity.Client.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.DotNet.Scaffolding.Shared.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.DotNet.PlatformAbstractions.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.DiaSymReader.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.CodeAnalysis.Scripting.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.CodeAnalysis.Razor.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.CodeAnalysis.Features.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.CodeAnalysis.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Features.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.CodeAnalysis.AnalyzerUtilities.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.Build.Framework.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.Build.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.AspNetCore.Razor.Language.dll
/ECommerceShopping/bin/Debug/net6.0/Microsoft.AspNetCore.JsonPatch.dll
/ECommerceShopping/bin/Debug/net6.0/MessagePack.dll
/ECommerceShopping/bin/Debug/net6.0/MessagePack.Annotations.dll
/ECommerceShopping/bin/Debug/net6.0/IOCContainer.pdb
/ECommerceShopping/bin/Debug/net6.0/IOCContainer.dll
/ECommerceShopping/bin/Debug/net6.0/Humanizer.dll
/ECommerceShopping/bin/Debug/net6.0/ECommerceShopping.staticwebassets.runtime.json
/ECommerceShopping/bin/Debug/net6.0/ECommerceShopping.runtimeconfig.json
/ECommerceShopping/bin/Debug/net6.0/ECommerceShopping.pdb
/ECommerceShopping/bin/Debug/net6.0/ECommerceShopping.exe
/ECommerceShopping/bin/Debug/net6.0/ECommerceShopping.dll
/ECommerceShopping/bin/Debug/net6.0/ECommerceShopping.deps.json
/ECommerceShopping/bin/Debug/net6.0/dotnet-aspnet-codegenerator-design.dll
/ECommerceShopping/bin/Debug/net6.0/DataAccessLayer.pdb
/ECommerceShopping/bin/Debug/net6.0/DataAccessLayer.dll
/ECommerceShopping/bin/Debug/net6.0/BusinessAccessLayer.pdb
/ECommerceShopping/bin/Debug/net6.0/BusinessAccessLayer.dll
/ECommerceShopping/bin/Debug/net6.0/appsettings.json
/ECommerceShopping/bin/Debug/net6.0/appsettings.Development.json
/ECommerceShopping/obj/Debug/net6.0/staticwebassets.pack.json
/ECommerceShopping/obj/Debug/net6.0/staticwebassets.development.json
/ECommerceShopping/obj/Debug/net6.0/staticwebassets.build.json
/ECommerceShopping/obj/Debug/net6.0/staticwebassets/msbuild.ECommerceShopping.Microsoft.AspNetCore.StaticWebAssets.props
/ECommerceShopping/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.ECommerceShopping.props
/ECommerceShopping/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.ECommerceShopping.props
/ECommerceShopping/obj/Debug/net6.0/staticwebassets/msbuild.build.ECommerceShopping.props
/ECommerceShopping/obj/Debug/net6.0/ECommerceShopping.pdb
/ECommerceShopping/obj/Debug/net6.0/ECommerceShopping.dll
/ECommerceShopping/obj/Debug/net6.0/ECommerceShopping.csproj.CopyComplete
/ECommerceShopping/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Scripting.resources.dll
/ECommerceShopping/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/ECommerceShopping/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ECommerceShopping/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/ECommerceShopping/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ECommerceShopping/bin/Debug/net6.0/zh-Hans/Humanizer.resources.dll
/IOCContainer/obj/Debug/net6.0/IOCContainer.csproj.FileListAbsolute.txt
