
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col" style="margin-left:3%">
        <img src="~/img/admin-img/spacejoy-c0JoR_-2x3E-unsplash.jpg" class="rounded " alt="" width="500" height="400">
    </div>
    <div class="col">
        <p class="fst-normal">
            The word furniture comes from the French fourniture, which means equipment.
            In most other European languages, however, the corresponding word (German Möbel, French meuble, Spanish mueble, Italian mobile) is derived from the Latin adjective mobilis, meaning movable.
            The Continental terms describe the intrinsic character of furniture better than the English word. To be furniture, it must be movable. Since furniture presupposes some degree of residential permanency,
            however, it is understandable that no independent furniture types seem to have been developed among the Melanesians or the Inuit in Greenland or the Mongolian nomads in Asia.

        </p>
        <p>
            In general, furniture produced in the past 5,000 years has not undergone innovative development in any functional sense.
            An Egyptian folding stool dating from about 1500 BCE fulfills the same functional requirements and possesses the same basic features as a modern one. Only since the mid-20th century,
            with entirely new synthetic materials such as plastic and completely new fabrication techniques such as casting, have there been signs of a radical revision of the concept of furniture.
        </p>
    </div>
    <div class="col" style="margin-left:6%">
        <img src="~/img/admin-img/curology-6CJg-fOTYs4-unsplash.jpg" class="rounded " alt="" width="500" height="400">
    </div>
</div>

<div class="card mb-3 float-start border-dark" style="max-width: 540px; margin-left:3%">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/img/admin-img/alexandre-jaquetoni-6yelWDI3RE8-unsplash.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Wood</h5>
                <p class="card-text">Wood is the material most often used for making furniture. Although there are over a hundred different kinds that can be used for furniture, some woods have natural properties that make them superior to the others.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<div class="mx-auto">
    <img src="~/img/admin-img/spacejoy-RqO6kwm4tZY-unsplash.jpg" class="rounded" width="500" height="300" alt="..." style="margin-left:5%;">
</div>
<div class="card mb-3 float-end border-dark" style="max-width: 540px; margin-right:3%; margin-top:-16%;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/img/admin-img/patrick-pankalla-wpOnFM9hjNI-unsplash.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Metal</h5>
                <p class="card-text">Metals have been used since antiquity for making and ornamenting furniture. Silver furniture was made for palaces in the days when monarchs amassed enormous wealth. </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="card border-danger mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-danger">Wood</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Carving</h5>
                    <p class="card-text">The Carving chair created a new effect that depended almost entirely upon the craftsmanship of the upholsterer.</p>
                </div>
                <div class="card-footer bg-transparent border-danger">Japan</div>
            </div>
        </div>
        <div class="col">
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-info">Metal</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Turned work</h5>
                    <p class="card-text">The Turned work created a new effect that depended almost entirely upon the craftsmanship of the upholsterer.</p>
                </div>
                <div class="card-footer bg-transparent border-info">America</div>
            </div>
        </div>
        <div class="col">
            <div class="card border-warning mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-warning">Stone</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Inlay and marquetry</h5>
                    <p class="card-text">The Inlay and marquetry created a new effect that depended almost entirely upon the craftsmanship of the upholsterer.</p>
                </div>
                <div class="card-footer bg-transparent border-warning">Africa</div>
            </div>
        </div>
        <div class="col">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success">Mud</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Upholstery and covers</h5>
                    <p class="card-text">The upholstered chair created a new effect that depended almost entirely upon the craftsmanship of the upholsterer.</p>
                </div>
                <div class="card-footer bg-transparent border-success">India</div>
            </div>
        </div>
    </div>
</div>