

<form asp-action="Delete" method="post" id="deleteForm">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        Are sure you want delete the category?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-close">Close</button>
        <button type="button" class="btn btn-primary" id="btn-delete">Delete</button>
    </div>
</form>
 