@model CategoryViewDto

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailCategoryLabel">Delete Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="details-modal">
                    <form asp-action="Delete" method="post" id="deleteForm">
                        <div class="modal-body">
                            Are sure you want delete this category?
                        </div>
                        <input type="hidden" class="form-control" id="categoryName" aria-describedby="emailHelp" name="CategoryName" asp-for="CategoryName" autocomplete="off">
                        <input type="hidden" class="form-control" id="updateId" aria-describedby="emailHelp" name="Id" asp-for="Id">
                        <input type="hidden" class="form-control" id="updateId" aria-describedby="emailHelp" name="ImagePath" asp-for="ImagePath">
                        <input  type="hidden" name="Active" asp-for="Active" autocomplete="off">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-close">Close</button> &nbsp;
                            <button type="submit" class="btn btn-primary" id="btn-delete">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
