@model CategoryViewDto

    <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailCategoryLabel">Detail Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="details-modal">
                    <form method="post" asp-action="Details" enctype="multipart/form-data" id="detailsForm">
                        <div class="mb-3">
                        <label for="exampleInputEmail1" class="font-monospace form-label">Category Name</label>
                            <input type="text" class="font-monospace form-control" id="categoryName" aria-describedby="emailHelp" name="CategoryName" asp-for="CategoryName" autocomplete="off" disabled>
                            <input type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Id" asp-for="Id" >
                        </div>
                        <div class="mb-3">
                        <label for="exampleInputEmail1" class="font-monospace form-label">Image</label>
                            <img src="~/img/category-img/@Model.ImagePath" style="width:100px; height:100px" class="border border-white rounded-3" autocomplete="off" />
                        </div>
                        <div class="form-check form-switch mb-3">
                        <label class="font-monospace form-check-label" for="flexSwitchCheckChecked">Active</label>
                        <input class="font-monospace form-check-input" type="checkbox" role="switch" id="active" name="Active" style="margin-left:2%;" asp-for="Active" autocomplete="off" disabled>
                        </div>
                        <button type="button" class="btn btn-secondary" id="btn-close" data-bs-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
